.container{
  height: 100vh;
  background-color: #000;
}

/* navbar */
.logo{
  color: aliceblue;
}

.favorites{
  padding: 10px 40px;
  background-color: #121212;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.favorites:hover{
  background-color: #252525;
}

.favText{
  font-size: 16px;
  color: aliceblue;
}

.searchDiv{
  display: flex;
  align-items: center;
}

.searchMov{
  width: 500px;
  height: 40px;
  text-align: center;
  border-radius: 10px;
  border: none;
  font-size:24px;  
}

.searchMov:focus {
  outline: none;
}

.searchButton{
  color: #fff;
  padding: 10px;
  margin-left: 5px;
  background-color: #7e7a7a;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #121212;
  height: 60px;
}
/* navbar */

/* body */

.listBody{
  margin: auto;
  width: 65rem;
  height: 89vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  overflow: auto;
  position: relative;
}

.movielist{
  margin-top: 20px;
  min-height: 270px;
  width: 95%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  cursor: pointer;
}

.movieImg{
  height: 90%;
  width: 250px;
  object-fit: cover;
}

.movieInfo{
  color: white;
  margin-left: -12rem;
  position: absolute;
  left: 50%;
  max-width: 500px;
}

.movieName{
  font-size: 32px;
}

.movieRating{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.addToFav{
  font-size: 16px;
  color: rgb(107, 114, 122);
  margin-bottom: 23px;
}

.addToFav:hover{
  color: white;
}

.emptyResult{
  color: white;
}

.paginationDiv{
  margin: auto;
  width: 65rem;
  height: 20px;   
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginateButton{
  background-color: #000;
  color: white;
  border: 1px solid lightgrey;
  margin: 0px 3px;
  border-radius: 10px;
  cursor: pointer;  
}